web:
  build: ./web
  ports:
   - "8000:8000"
  volumes:
   - .:/code
  links:
   - db
  container_name: authServer
db:
  image: mongo:3.0.2
  command: mongod --dbpath /data/db --smallfiles

